<!DOCTYPE html>
<html>
<head>
	<title> Liste des Commandes </title>
</head>
<body>
	<h2>Commandes</h2>
	<a href= "/commandes/create/"> <button>Ajouter une commande</button> </a><br>
	<a href= "/"> <button>Retour</button> </a>
	<pre><table border= "1">
	<thead>
		<tr>
		<th>ID</th>
		<th>Date</th>
		<th>Commentaire</th>
		<th>Client</th>
		</tr>
	</thead>
	<tbody>
		{% for commande in object_list %}
		<tr>
		<td> <a href= "/commandes/{{commande.idcommande}}">{{ commande.idcommande }}</a> </td>
		<td> {{ commande.datec }} </td>
		<td> {{ commande.commentaire }} </td>
		<td> <a href= "/clients/{{commande.idclient.idclient}}">{{ commande.idclient.nom }} {{ commande.idclient.prenom }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</pre>
</body>
</html>